* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    background-color: #202020;
    padding: 16px 0;
    color: #ccc;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

header li a {
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 16px;
}

header li a:hover  {
    color: #cccc;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0px;
}

section h2, 
.articles article{
    margin-bottom: 16px;
}

.articles article h3 {
    margin: 8px;
    margin-bottom: 16px;
}

.articles article a {
    background-color: #202020;
    color: #FFFFFF;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    background-color: #202020;
    color: #FFFFFF;
    padding: 8px;
    display: inline-block;
    text-decoration: underline;
}

.articles article p, 
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 25px;
}

section h2 {
    font-size: 35px;
}

#sports {
    background-color: #F08080;
}

#sports .articles article a{
    background-color: #101010;
    color: #FFFFFF;
}

#economy {
    background-color: #98FB98;
}

#economy .articles article a{
    background-color: #202020;
}

#entretenimento {
    background-color: #ffa800;
}

#tecnologia {
    background-color: #87CEFA;
}