@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Oswald;
}

body {
    background-color: #202020;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    color: #FFFFFF;
}

header img {
    height: 48px;
    margin-right: 16px;
    opacity: 70%;
}

header h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    font-weight: 100;
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #808080;
    padding: 8px;
    outline: none;
    border-radius: 5px;
}

#nota-atividade {
    width: 125px;
}

#nome-atividade {
    width: 290px;
}

.btn {
    width: 165px;
}

form button {
    background-color: #3c6045;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 1px solid #808080;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid #808080;
    color: #FFFFFF;
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 3px;

}

.aprovado {
    background-color: #3c6045;
}

.reprovado {
    background-color: #603c3c;
}