// Fontes
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$fontRoboto: 'Roboto', sans-serif;
$fontInter: 'Inter', sans-serif;

// Cores
$verde: #3c6045;
$vermelho: #603c3c;
$branco: #fff;
$dark: #202020;
$orangeLight:#ffa800;
$orangeDark:#ff9500;

// Media
$mobile: 767px;
$tablet: 1023px;