// Fontes
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$fontRoboto: 'Roboto', sans-serif;

// Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

// Cores
$verde: #3c6045;
$vermelho: #603c3c;
$branco: #fff;
$dark: #202020;
$orangeLight:#ffa800;
$orangeDark:#ff9500;

// Media
$mobile: 767px;
$tablet: 1023px;